# Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Task 3: Importing Data

In [2]:
path = r'C:\Users\ramis\OneDrive\JC\Data Analytics Course\Data Analytics Immersion\A4\Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\ramis\\OneDrive\\JC\\Data Analytics Course\\Data Analytics Immersion\\A4\\Instacart Basket Analysis'

In [5]:
# import orders_products_combined.pkl
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
# check output
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [16]:
# deleting the _merge variable to prevent having conflicts when merging with the orders later
df_merged_large = df_merged_large.drop(columns = ['_merge'])

# Task 4: Checking shape of dataframe df_merged_large

In [17]:
df_merged_large.shape

(32434489, 9)

In [9]:
# it has the same shape as the one we have previously exported.

# Task 5: Merging orders_products_combined with prods data set

In [10]:
# import products_checked.csv
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [11]:
# check output
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# Deleting the 'Unnamed: 0' variable from df_prods_checked
df_prods_checked = df_prods_checked.drop(columns = ['Unnamed: 0'])

In [13]:
# check output
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
# check shape of df
df_prods_checked.shape

(49672, 5)

In [19]:
# merge of orders_products_combined with prods data set
df_ords_prods_merged = df_merged_large.merge(df_prods_checked, on = 'product_id', indicator = True)

In [20]:
# check merge output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [21]:
#check df_ords_prods_merged shape
df_ords_prods_merged.shape

(32404859, 14)

# Task 6: Confirm the results of the merge using the merge flag.

In [22]:
# check merge flag frequency for full match
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Task 7: Export the newly created dataframe as orders_products_merged in PKL

In [23]:
# Export data to pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))